body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    color: #333333;
}

.stButton > button {
    width: 100%;
    border-radius: 5px;
    height: 3em;
    background-color: #4A90E2;
    color: white;
    border: none;
    transition: background-color 0.3s ease;
}

.stButton > button:hover {
    background-color: white;
    color: #4A90E2;
}

.stTextInput > div > div > input {
    border-radius: 5px;
    border: 1px solid #E0E0E0;
}

h1 {
    color: white;
    font-weight: 700;
}

h3 {
    color: whitesmoke;
}

.stMetric {
    background-color: #F8F9FA;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.stSidebar {
    background-color: #1E1E1E;
    color: white;
}

.stSidebar [data-testid="stMarkdownContainer"] {
    color: white;
}

.stSidebar .stButton > button {
    background-color: transparent;
    color: white;
    border: none;
    text-align: left;
    padding: 10px 15px;
    margin: 5px 0;
    transition: background-color 0.3s ease;
    border-radius: 0;
    font-weight: normal;
}

.stSidebar .stButton > button:hover {
    background-color: rgb(0, 94, 255);
}

/* Style for the active sidebar button */
.stSidebar .stButton > button:focus {
    background-color: rgba(0, 81, 255, 0.953);
    box-shadow: none;
}

/* Remove previous radio button styles */
.stSidebar .stRadio > div {
    flex-direction: column;
}

.stSidebar .stRadio label {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    margin: 0;
    color: white;
}

.stSidebar .stRadio label:hover {
    background-color: transparent;
}

.stSidebar .stRadio label[data-baseweb="radio"] input:checked + div {
    background-color: transparent;
    color: white;
}